/*/*/bin/
*~
*.rej
*.bak
*.patch
javacore.*
heapdump.*
core.*
Snap.*
target/
.DS_Store
.metadata
.project
.metadata/.log
*.snap
*.index
*.resources
*.prefs
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
*.dat
*.ser
*.ini
*.log
*.xml
